Source: cosmic-tasks
Section: utils
Priority: optional
Maintainer: Michael Aaron Murphy <michael@mmurphy.dev>
Build-Depends:
    cargo,
    debhelper-compat (=13),
    git,
    just,
    libsqlite3-dev,
    libxkbcommon-dev,
    pkgconf | pkg-config,
    rustc
Recommends: adw-gtk3
Standards-Version: 4.6.2
Homepage: https://github.com/pop-os/cosmic-tasks

Package: cosmic-tasks
Architecture: amd64 arm64
Depends:
    ${misc:Depends},
    ${shlibs:Depends}
Description: A simple task management application for the COSMIC desktop.
 A simple task management application for the COSMIC desktop.
